body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.calculator {
    height: 700px;
    width: 500px;
    border: 1px solid black;
    border-radius: 28px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    
}

.display {
    width: 100%;
    height: 25%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    
}

.buttons {
    width: 100%;
    height: 75%;
    display: grid; 
    grid-template-columns: 24% 24% 24% auto;
    grid-gap: 10px;
}

.buttons div {
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}

.display div {
    height: 40%;
}

#top_row {
    font-size: 64px;
    text-align: right;
    display: flex;
    justify-content: end;
    padding-right: 10px;
}

#operation {
    display: flex;
    justify-content: end;
    height: 20%;
    text-align: right;
    padding-right: 20px;
    font-size: 30px;
}

#bottom_row {
    display: flex;
    justify-content: end;
    font-size: 40px;
    text-align: right;
    padding-right: 10px;
}